body {
    margin: 20px;
}

#link-adder {
    display: flex;
    gap: 8px;
    width: 640px;
}

#message {
    margin-bottom: 36px;
}

#how-to {
    color: gray;
}

select {
    width: 240px;
}

#copy-content-input {
    width: 100%;
}

#copy-content {
    margin-bottom: 24px;
    width: 640px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    width: 640px;
}

#categories-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
}

.button-row {
    display: flex;
    gap: 24px;
    width: 640px;
    margin-bottom: 16px;
    justify-content: center;
}

.btn {
    width: 160px !important;
}