body {
  margin: 20px;
}

#link-adder > [class*="col-sm"] {
  padding: 4px;
  display: flex;
  justify-content: center;
}

#link-adder > [class*="col-sm"] > input {
  width: 100%;
  height: 36px;
}

#message {
  margin-bottom: 24px;
  color: #dc3545;
}

#delete-toggle-div {
  display: flex;
  gap: 8px;
}

#how-to {
  color: gray;
}

select {
  width: 240px;
}

#copy-content,
#copy-content-input {
  width: 100%;
  resize: none;
  height: 36px;
  padding: 4px;
}

#copy-content {
  margin-bottom: 24px;
  width: 60%;
  resize: vertical;
  min-height: 36px;
}
@media only screen and (max-width: 768px) {
  #copy-content {
    width: 100%;
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  width: 60%;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  .category {
    width: 100%;
  }
}

#categories-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-row > .col-sm-4 {
  display: flex;
  justify-content: center;
  padding: 4px 8px 4px 8px;
}

.btn {
  width: 100%;
}

.collapsable {
  padding-left: 12px;
  padding-right: 12px;
}
